<link rel="stylesheet" type="text/css" 
      href="css/bootstrap.css">

<form action="../Controllers/usuarioController.php" method="post">
    <div class="col-md-6">
        <label>Nome</label>
        <input class="form-control" type="text" name="nome" />
    </div>
    <div class="col-md-6">
        <label>Idade</label>
        <input class="form-control" type="number" name="idade" />
    </div>
    <div class="col-md-3">
        <input type="submit" class="btn" value="Salvar usuário" />
    </div>    
</form>

